<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.ruiwencloud">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".about_usActivity"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Nine_picActivity" />
        <activity android:name=".History_moneyActivity" />
        <activity android:name=".Dev_personActivity" />
        <activity android:name=".Nine_pic_freeActivity"/>
        <activity
            android:name=".WebBrowserActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".OldActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".HtmlActivity" />
        <activity android:name=".TimeActivity" />
        <activity android:name=".MovieActivity" />
        <activity android:name=".MoviedesActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>